@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400&display=swap');

* {
  margin: 0;
}

body {
  height: 50vh;
  background-color: rgb(11, 11, 94);
  font-family: 'Raleway', sans-serif;
}
