@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;400&display=swap');

* {
  margin: 0;
}

body {
  height: 50vh;
  background-color: rgb(28, 21, 42);
  font-family: 'Raleway', sans-serif;

  @media  (max-width:480px) {
    max-width: 300px;
    margin-top: 0px;
    margin-bottom: 10px;
    background-color:white;
}
}

